#mifosx-toolbar {
  position: relative;
  display: flex; /* Ensure the toolbar contents are in a row */
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
  white-space: nowrap; /* Prevent items from wrapping to the next line */
  box-shadow:
    0 3px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);

  .tab-link {
    min-width: auto;
    padding: 0 1rem;
  }

  .search-bar {
    .search {
      max-width: 400px;
      width: 100%;
      font-size: 1rem;
    }
  }

  .language {
    min-width: 80px;
    width: 80px;
    font-size: 0.875rem;
    margin-top: 0.375rem;
  }

  .img-button {
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  .ml-1 {
    margin-left: 1rem;
  }

  .mr-1 {
    margin-right: 1rem;
  }
}

.lg-icon {
  display: none;
}

@media (width <= 959px) {
  .lg-icon {
    display: block;
    margin-left: 5px;
  }
}

/* Optional: Customize scrollbar for horizontal scrolling */
#mifosx-toolbar::-webkit-scrollbar {
  height: 1px;
}

#mifosx-toolbar::-webkit-scrollbar-thumb {
  background: #c3c3c3; /* Scrollbar color */
  border-radius: 1px;
}

#mifosx-toolbar::-webkit-scrollbar-thumb:hover {
  background: #c6b4b4;
}
