<!-- The viewport is divided into two parts having max-width 30% and 70% -->
<div fxLayout="row">
  <!-- Content in 30%: Login Container -->
  <div fxLayout="column" fxFlex.gt-sm="1 0 30%" class="login-container">
    <!-- Language Selector to the extreme right -->
    <div fxLayout="row-reverse" fxFlex="1 0 auto">
      <mifosx-language-selector class="p-r-10 p-t-10"></mifosx-language-selector>
      <mifosx-theme-toggle class="p-r-10 p-t-10"></mifosx-theme-toggle>
      <div fxFlex></div>
      <mifosx-server-selector
        class="p-l-10 p-t-10"
        *ngIf="!environment.production && environment.allowServerSwitch"
      ></mifosx-server-selector>
    </div>

    <!-- Logo with Organization Name -->
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
      <img src="assets/images/RL%20JAIN%20LOGO.png" alt="{{ 'RL JAIN' | translate }} Logo" class="img-container" />
    </div>

    <!-- Login Form -->
    <div fxLayout="row" fxFlex="3 0 auto" fxLayoutAlign="center start">
      <mifosx-login-form *ngIf="!resetPassword && !twoFactorAuthenticationRequired"></mifosx-login-form>
      <mifosx-reset-password *ngIf="resetPassword"></mifosx-reset-password>
      <mifosx-two-factor-authentication *ngIf="twoFactorAuthenticationRequired"></mifosx-two-factor-authentication>
    </div>

    <!-- Contact Information/Resources (hidden on smaller screens) -->
    <mat-list fxHide.lt-lg fxLayout="row" fxFlexAlign="center" fxFlex="3 0 auto" class="information-list">
      <mat-list-item
        ><button mat-button [matMenuTriggerFor]="resourcesMenu">
          {{ 'labels.links.Resources' | translate }}
        </button></mat-list-item
      >
      <mat-list-item
        ><button mat-button [matMenuTriggerFor]="communityMenu">
          {{ 'labels.links.Community' | translate }}
        </button></mat-list-item
      >
      <mat-list-item
        ><button mat-button [matMenuTriggerFor]="contributeMenu">
          {{ 'labels.links.Contribute' | translate }}
        </button></mat-list-item
      >
    </mat-list>

    <!-- Footer with Refresh Button -->
    <div fxLayout="column" class="footer-container">
      <mifosx-footer></mifosx-footer>
      <div fxLayout="row" fxLayoutAlign="end" class="refresh-button">
        <button mat-icon-button (click)="reloadSettings()" class="m-r-10">
          <fa-icon icon="refresh"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- Content in 70%: Event Slider -->
  <div fxFlex="70%" fxLayout="column" fxLayoutAlign="center center" fxHide.lt-sm class="cover">
    <!-- Current Date Display -->
    <div class="current-date-container">
      <div class="current-date">
        {{ currentDate | date:'EEEE, MMMM d, y' }}
      </div>
    </div>

    <div class="event-slider">
      <div class="event-content" [@slideAnimation]="currentEventIndex">
        <div class="event-image" *ngIf="getCurrentEvent().image">
          <img [src]="getCurrentEvent().image" [alt]="getCurrentEvent().title">
        </div>
        <div class="event-details">
          <h1 class="mat-display-1 event-title">{{ getCurrentEvent().title | translate }}</h1>
          <p class="mat-headline event-description">
            {{ getCurrentEvent().description | translate }}
          </p>
          <p class="event-date">{{ getCurrentEvent().date | date }}</p>
        </div>
      </div>
      <!-- Event Navigation Dots -->
      <div class="event-nav-dots">
        <span 
          *ngFor="let event of events; let i = index" 
          class="dot"
          [class.active]="i === currentEventIndex"
          (click)="goToSlide(i)">
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Contact Information/Resources Menus-->
<mat-menu #resourcesMenu="matMenu">
  <a href="#" target="_blank" mat-menu-item>{{ 'labels.links.User Manual' | translate }}</a>
  <a href="#" target="_blank" mat-menu-item>{{ 'labels.links.Functional Specifications' | translate }}</a>
  <a href="#" target="_blank" mat-menu-item>{{ 'labels.links.Developer Zone' | translate }}</a>
</mat-menu>

<mat-menu #communityMenu="matMenu">
  <a href="#" target="_blank" mat-menu-item>{{ 'labels.links.User Group' | translate }}</a>
  <a href="#" target="_blank" mat-menu-item>{{ 'labels.links.Developer Group' | translate }}</a>
  <a href="#" target="_blank" mat-menu-item>{{ 'labels.links.IRC' | translate }}</a>
</mat-menu>

<mat-menu #contributeMenu="matMenu">
  <a href="#" target="_blank" mat-menu-item>{{ 'labels.links.Key Design Principles' | translate }}</a>
  <a href="#" target="_blank" mat-menu-item>{{ 'labels.links.Working with Code' | translate }}</a>
  <a href="#" target="_blank" mat-menu-item>{{ 'labels.links.Donate' | translate }}</a>
</mat-menu>
